<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>A2</title>
		<meta name="description" content="">
		<meta name="author" content="5001218">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">

		<link rel="stylesheet" href="foundation/css/foundation.css" />
		<link rel="stylesheet" href="stylesheets/style.css" />
		<link rel="stylesheet" href="stylesheets/main.css" />
		<script src="modernizr/modernizr.js"></script>
	</head>

	<body class="antialiased hide-extras">
		<nav class="top-bar" data-topbar>
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">A2</a></h1>
				</li>
				<li class="toggle-topbar menu-icon">
					<a href="#"><span>Menu</span></a>
				</li>
			</ul>

			<section class="top-bar-section">
				<!-- Right Nav Section -->
				<ul class="right">
					<li class="active">
						<a href="https://skpinfra.signin.aws.amazon.com/console" target="_blank">AWS Console</a>
					</li>
					<li>
						<a href="#logout">Logout</a>
					</li>
				</ul>

				<!-- Left Nav Section -->
				<ul class="left">
					<!-- <li><a href="#">AWS Archer</a></li> -->
					<li class="divider"></li>
					<li class="has-dropdown">
						<a href="#">Action</a>
						<ul class="dropdown">
							<li>
								<a href="#">Service</a>
							</li>
							<li>
								<a href="#">Alert</a>
							</li>
						</ul>
					</li>
					<li class="divider"></li>
					<li class="has-dropdown">
						<a href="#">Regions</a>
						<ul class="dropdown">
							<li>
								<a href="#">Global</a>
							</li>
							<li>
								<a href="#">Tokyo</a>
							</li>
							<li>
								<a href="#">Singapore</a>
							</li>
							<li>
								<a href="#">Sydney</a>
							</li>
							<li>
								<a href="#">Ireland</a>
							</li>
							<li>
								<a href="#">Sao Paulo</a>
							</li>
							<li>
								<a href="#">Northern Virginia</a>
							</li>
							<li>
								<a href="#">Northern California</a>
							</li>
							<li>
								<a href="#">Oregon</a>
							</li>

						</ul>
					</li>
				</ul>
			</section>
		</nav>
		<!-- nav -->

		<div id="sidebar" class="large-2 medium-3 columns">
			<div class="hide-for-small">
				<div class="sidebar">
					<!-- <form>
					<input tabindex="1" id="autocomplete" type="search" placeholder="Shoot an arrow" autocomplete="off">
					</form> -->

					<nav>
						<ul class="side-nav">
							<h5>The Arrows</h5>
							<li>
								<a href="#" data-search="">name</a>
							</li>
							<li>
								<a href="#" data-search="">instance-id</a>
							</li>
							<li>
								<a href="#" data-search="">instance-type</a>
							</li>
							<li>
								<a href="#" data-search="">instance-state</a>
							</li>
							<li>
								<a href="#" data-search="">region</a>
							</li>
							<li>
								<a href="#" data-search="">public-ip</a>
							</li>
							<li>
								<a href="#" data-search="">security-group</a>
							</li>
							<li>
								<a href="#" data-search=""></a>
							</li>
							<li class="divider"></li>
							<li class="heading">
								Regions
							</li>
							<li>
								<a href="#" data-search="">eu-west-1</a>
							</li>
							<li>
								<a href="#" data-search="">sa-east-1</a>
							</li>
							<li>
								<a href="#" data-search="">ap-northeast-1</a>
							</li>
							<li>
								<a href="#" data-search="">ap-southeast-1</a>
							</li>
							<li>
								<a href="#" data-search="">us-west-1</a>
							</li>
							<li>
								<a href="#" data-search="">us-west-2</a>
							</li>
							<li>
								<a href="#" data-search="">us-east-1</a>
							</li>

							<li class="divider"></li>
							<li class="heading">
								Instance Types
							</li>
							<li>
								<a href="#" data-search="">General : m1, m3</a>
							</li>
							<li>
								<a href="#" data-search="">Compute : c1, c3, cc2</a>
							</li>
							<li>
								<a href="#" data-search="">Memory : m2, cr1</a>
							</li>
							<li>
								<a href="#" data-search="">Storage : hi1, hs1, i2</a>
							</li>
							<li>
								<a href="#" data-search="">Micro : t1</a>
							</li>
							<li>
								<a href="#" data-search="">GPU : cg1, g2 </a>
							</li>

							<li class="divider"></li>

						</ul>
					</nav>
				</div>
			</div>
		</div>
		<!-- sidebar -->

		<div id="content" class="large-10 medium-9 columns">
			<div class="container">
				<div class="row">
					<div class="small-12 medium-11 large-9 columns">
						<h4>Bow</h4>
						<br/>
						<div id="bow" class="row collapse">
							<div class="small-10 columns">
								<input type="text" placeholder="Shoot an arrow">
							</div>
							<div class="small-2 columns">
								<a herf="#" class="button postfix">Shoot</a>
							</div>
						</div>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="small-12 medium-11 large-9 columns">
						<h4>Target</h4>
						<br/>
						<div id="target">
							
						</div> 
						<!-- target -->
					</div>
				</div>
			</div>
			<!-- container -->
		</div>
		<!-- content -->

		<!-- template zone -->
		<script type="text/template" id="tmpl_instance_list">
			<table>
			<thead>
			<tr>
			<th>Service Name</th>
			<th>Instance ID</th>
			<th>Instance Type</th>
			<th>Instance State</th>
			<th>Region</th>
			<th>Public IP</th>
			<th>Security Group</th>
			</tr>
			</thead>
			<tbody>

			</tbody>
			</table>
		</script>
		
		<script type="text/template" id="tmpl_instance_item">
			<td><%= service_name %></td>
			<td><%= instance_id %></td>
			<td><%= instance_type %></td>
			<td><%= instance_state %></td>
			<td><%= region %></td>
			<td><%= public_ip %></td>
			<td><%= security_group %></td>
		</script>

		<script type="text/template" id="tmpl_service_list">
			<table>
				<thead>
					<tr>
					<th>Service Name</th>
					<th>Instance Number</th>
					<th>State: Running</th>
					<th>State: Pending</th>
					<th>State: Stopped</th>
					<th>State: Terminated</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</script>
		
		<script type="text/template" id="tmpl_service_item">
			<td><%= service_name %></td>
			<td><%= instance_number %></td>
			<td><%= state_running %></td>
			<td><%= state_pending %></td>
			<td><%= state_stopped %></td>
			<td><%= state_terminated %></td>
		</script>

		<!-- script zone -->
		<script src="jquery/jquery.js"></script>
		<script src="foundation/js/foundation.js"></script>
		<script src="underscore/underscore.js"></script>
		<script src="backbone/backbone.js"></script>
		<script>
			$(document).foundation();
		</script>

		<script src="javascripts/main.js"></script>
	</body>
</html>
