html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
}

.top-bar-section ul li.active > a {
	background: #008cba;
	color: white;
}
.top-bar-section ul li.active > a:hover {
	background: #007ba1;
}

.nav-active {
	background: #008cba;
}

.bow, .instance_arrow {
	max-width: 50rem;
}

.instance_arrow a {
	font-size: 12px;
}

.instance_arrow {
	max-width: 230px;
	background-color: #FAFAFA;
	/*background-color: #fbfbfb;*/
	padding-left: 0px;
	padding-right: 0px;
}

.instance_arrow {
	padding: 15px;
	/*font-family: 'Open Sans', sans-serif;*/
}

.instance_arrow h5, .instance_arrow a, .instance_arrow li {
	font-family: 'Ubuntu', sans-serif;
	/*font-family: 'Open Sans', sans-serif;*/
}

#arrow ul {
	padding-left: 15px;
}

#arrow h5 {
	font-size: 20px;
}

#arrow li.heading {
	font-size: 18px;
	padding-bottom: 5px;
}

#arrow li a {
	font-size: 13px;
	padding-left: 14px;
}

#arrow .label {
	color: #777777;
	margin-left: 3px;
	border-radius: 3px;
}

.row {
	max-width: 100rem;
}

.resource_arrow {
	max-width: 210px;
	padding: 0;
}

.resource_arrow_small {
	padding: 0;
}

.tabs.vertical {
	width: 100%;
	float: none;
}

/* tabs style override */

.tabs dd > a:hover, .tabs dd.active a {
	/*background: #368a54;*/
	background: #007295;
	color: white;
}

.tabs dd.active a.large-arrow-link, .tabs dd.active > a.large-arrow-link:hover {	background: white;
	color: #008cba;
}

.tabs dd.empty, .tabs dd a {
	display: block;
	/*background: #43ac6a;*/
	background: #008cba;
	color: white;
	padding-top: 1rem;
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Ubuntu', sans-serif;*/
}

.tabs dd {
	background: #008cba;
}

.left_padding{
	/*text-align: center;*/
	margin-left:20px;
}

.tabs dd a.large-arrow-link {
	margin-left: 2rem;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding-left: 0px;
	padding-right: 0px;
}

.tabs dd.header {
	display: block;
	background: #008cba;
	color: white;
	padding-top: 140px;
	padding-right: 2rem;
	padding-bottom: 1rem;
	padding-left: 2rem;
}

.tabs dd a p.large-arrow {
	padding-top: 10px;
	font-size: 15px;
	margin: 0px;
}

.tabs dd a p.small-arrow {
	font-size: 18px;
}

.tabs dd a i {
	margin-right: 30px;
	width: 30px;
}

.tabs dd a span {
	font-size: 15px;
}

.top-bar .name h1 a {
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Ubuntu', sans-serif;
	padding-left: 25px;
	padding-right: 25px;
}

.top-bar-section ul li > a {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
}

#bow .bow-header {
	font-family: 'Ubuntu', sans-serif;
}

#target h4.target-header {
	font-family: 'Ubuntu', sans-serif;
}

#bow input {
	font-family: 'Open Sans', sans-serif;
}

#bow h4 a{
	margin-left: 10px;
}

#bow .bow-header {
	margin-bottom: 0px;
}


#target {
	overflow: auto;
	/*font-family: 'Ubuntu', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
}

#target table {
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Ubuntu', sans-serif;*/
}

/* for instance dashboard */
#target h5 {
	font-family: 'Ubuntu', sans-serif;
	/*font-family: 'Russo One', sans-serif;*/
}

#target h4 {
	/*font-family: 'Open Sans', sans-serif;*/
	/*font-family: 'Russo One', sans-serif;*/
	font-family: 'Ubuntu', sans-serif;
}

#target table thead th {
	font-size: 13px;
}

/* for table */

#target table tbody td {
	font-size: 12px;
}



.resource_item {
	padding-top: 5px;
}

.resource_item ul {
	margin-bottom: 0px;
}

.resource_item ul h4 {
	margin-bottom: 0px;
	margin-top: 0px;
}

ul.f-dropdown li {
	font-size: 11px;}

.title_unit {
	font-size: 15px;
}

.resource_item .button {

	margin-right: 33px;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* custom table style */
table a:link {
	color: #666;
	font-weight: bold;
	text-decoration: none;
}
table a:visited {
	color: #999999;
	font-weight: bold;
	text-decoration: none;
}
table a:active, table a:hover {
	color: #bd5a35;
	text-decoration: underline;
}
table {
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	font-size: 12px;
	text-shadow: 1px 1px 0px #fff;
	background: #eaebec;
	/*margin: 20px;*/
	border: #ccc 1px solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding: 21px 25px 22px 25px;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #e0e0e0;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
	text-align: left;
	padding-left: 20px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}
table tr {
	text-align: center;
	padding-left: 20px;
}
table td:first-child {
	text-align: left;
	padding-left: 20px;
	border-left: 0;
}
table td {
	padding: 18px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

/* table image */

td img {
	margin-right: 5px;
	margin-bottom: 4px;
}


table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom: 0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}

/* chart */

#overview-header {
	margin-left: 15px;
}

#overview-header span {
	padding: 8px;
	margin-bottom: 0px;
	margin-left: 5px;
	
}

.dashboard-cpu-box {
	padding-right: 0px;
}

.dashboard-other-box {
	padding-left: 0px;
	padding-right: 0px;
}

.chart-square {
	background: #ffcc33;
	color: white;
	margin-top: 15px;
	padding-top: 0px;
	border-radius: 2px;
	padding-left: 15px;
	padding-right: 5px;
	padding-top: 40px;
	padding-bottom: 15px;
	/*height: 170px;*/
}

.chart-square span {
	margin-left: 5px;
	font-size: 30px;
}

.chart-square h2 {
	color: white;
}

.chart-square p {
	margin-top: 10px;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
}

#chart {
	padding-right : 30px;
}

.chart {
	position: relative;
	display: inline-block;
	width: 110px;
	height: 110px;
	margin-top: 15px;
	margin-bottom: 5px;
	text-align: center;
}
.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.percent {
	display: inline-block;
	line-height: 110px;
	z-index: 2;
	font-size: 25px;
	font-family: 'Russo One', sans-serif;
}
.percent:after {
	content: '%';
	margin-left: 0.1em;
	font-size: 25px;
	font-family: 'Russo One', sans-serif;
}

/* each resource */



.right.chart-header {
	margin-bottom: 0px;
	padding-bottom 0px;
	padding-top: 10px;
}

.left.chart-header h1 {
	font-family: 'Ubuntu', sans-serif;
	/*font-family: 'Open Sans', sans-serif;*/
}

.left.chart-header {
	margin-bottom: 0px;
}

#target {
	overflow-y: hidden;
}
/* dashboard item */


.dashboard-item {
	margin-top: 55px;
	margin-left: 35px;
	padding-bottom: 15px;
}

.dashboard-item-header {
	padding-left: 5px;
	font-family: 'Open Sans', sans-serif;
}

.dashboard-item h2, .dashboard-item h4, .dashboard-item h5
, .dashboard-item h3, .dashboard-item h6, .dashboard-item {
	color: white;
}

.dashboard-item h5 span {
	font-size: 14px;
	margin-left: 5px;
}

.orbit-container {
	margin-top: 15px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.dashboard-item-green {
	background: #73C27D;
	color: white;
}

.dashboard-item-blue {
	background: #82ACDE;
	color: white;
}

.dashboard-item-red {
	background: #DE938E;
	color: white;
}

.dashboard-item-yellow {
	background: #F78A4B;
	color: white;
}

.orbit-container h2 {
	color: white;
}
