.sidebar {
	padding: 15px;
	font-family: 'Ubuntu', sans-serif;
}

.sidebar a {
	font-size: 12px;
}

#sidebar {
	background-color: #FAFAFA;
	background-repeat: repeat-x;
}

.row {
	max-width: 80rem;
}

#target {
	overflow: auto;
}

#target table thead th {
	font-size: 13px;
}

#target table tbody td {
	font-size: 12px;
}










