@import url(http://fonts.googleapis.com/css?family=Ubuntu);

a {
  color: #00B7FF;
}

.container {
	padding: 40px 10px;
}

.centered-text {
	text-align: center;
}

.top-bar-section .dropdown li a:hover {
	background: #008cba;
}

.top-bar-section ul li.has-dropdown > a:hover {
	background: #008cba;
}

.top-bar-section ul li.link > a:hover {
	background: #008cba;
}





